.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff; /* Пример фона, измените в соответствии с вашим дизайном */
    /* Другие стили */
}

.logo {
    /* Стили для логотипа */
}

.nav {
    /* Стили для навигации */
    display: flex;
    gap: 20px; /* Регулируйте промежуток между ссылками */
}

.nav a {
    text-decoration: none;
    color: #000000; /* Цвет текста ссылок */
    /* Другие стили для ссылок */
}

.shoppingCart {
    /* Стили для иконки корзины */
}