.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #000; /* Пример фона, измените в соответствии с вашим дизайном */
    color: #fff;
}

.contactContainer,
.socialsContainer,
.mapContainer,
.hoursContaine {
    /* Вы можете добавить общие стили для блоков здесь */
}

.socialIcons {
    /* Стили для контейнера с иконками */
}

/* Добавьте медиа-запросы для адаптивности, если необходимо */