*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.App {
  max-width: 1440px;
  margin: 0 auto; /* Центрирование содержимого приложения и добавление автоматических отступов слева и справа */
  width: 100%; /* Убедитесь, что это свойство не конфликтует с существующими стилями */
}